#include <windows.h>
#include "Resource.h"

IDD_DIALOG_MAIN DIALOGEX 0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Login"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "Username:", -1, 7, 14, 35, 8
EDITTEXT IDC_MAIN_EDIT_USERNAME, 42, 12, 120, 12, ES_AUTOHSCROLL
LTEXT "Password:", -1, 7, 34, 35, 8
EDITTEXT IDC_MAIN_EDIT_PASSWORD, 42, 32, 120, 12, ES_AUTOHSCROLL | ES_PASSWORD
PUSHBUTTON "Login", IDC_MAIN_BUTTON_LOGIN, 42, 52, 50, 14
PUSHBUTTON "Register", IDC_MAIN_BUTTON_REGISTER, 102, 52, 60, 14
END

IDD_DIALOG_CHAT DIALOGEX 0, 0, 186, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Chat"
FONT 8, "MS Shell Dlg"
BEGIN
LISTBOX IDC_CHAT_LIST_MESSAGES, 7, 7, 172, 120, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
EDITTEXT IDC_CHAT_EDIT_MESSAGE, 7, 133, 130, 14, ES_AUTOHSCROLL
PUSHBUTTON "Send", IDC_CHAT_BUTTON_SEND, 142, 132, 37, 14
END